<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="OracleConnection"
             connectionString="User Id=PHARMA_USER;Password=/Pharma123;Data Source=localhost:1521/XE;"
             providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>